* {

    font-weight: bolder;
    font-size: x-large;
    font-family: "Times New Roman", serif;
}

body {
    background: rgb(245, 245, 245);
    color: #333333;
    margin-top: 150px;

}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}
h2{
    font-size: 50px;
    font-weight: bolder;
}
li{
    font-size: x-large;
    font-weight: bolder;

}
head,body{
    background-image: url("273277-new-grey-background-1920x1080-photos.jpg");
}
input{
    float: left;
}
h1{
    font-weight: bolder;
    font-size: 85px;
}
